@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4>Programa de teste para Estagio em C# na 
        <a style="text-decoration:none; color:cadetblue" href="https://ascsolutions.com.br"target="_blank">ASC Solutions</a></h4>
        <p>Click em Produtos para acessar a lista de produtos</p>
        <img src="~/img/ProgWorkerNew.png">
</div>


